*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
header{
	background: #30336b;
	padding: 20px 0;
	text-align: center;
	font-size: 32px;
	color: white;	
}

.controls {
	text-align: center;
}
.controls button{
	padding: 10px 15px;
    background: #30336b;
    border: none;
    color: white;
    font-size: 30px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 5px;
}
#clock{
	text-align: center;
	margin-top: 25px;
}
#clock span{
	font-size: 120px;
}
#time.zero {
	animation: animateZeros 1s infinite;
}


@keyframes animateZeros {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}